@import "tailwindcss";

@font-face {
    font-family: "MindustryIcon";
    src: url("/mindustry/fonts/icon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* COLOR SCHEME */
    --scheme-color-light: #e5e7eb;
    --scheme-color-dark: #16181c;

    --scheme-color-white: #fff;
    --scheme-color-black: #000;
    --scheme-color-gray: #2c2c2c;

    --scheme-color-001: #e5b276;

    --scheme-color-dark-secondary: #26292f;
    --scheme-color-light-secondary: #fff;

    --scheme-color-disabled: #404040;

    /* PROPERTIES */

    --background: var(--scheme-color-light);
    --color: var(--scheme-color-black);

    --scheme-color-secondary: var(--scheme-color-light-secondary)
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--scheme-color-dark);
        --color: var(--scheme-color-white);

        --scheme-color-secondary: var(--scheme-color-dark-secondary)
    }
}

@layer components {
    .unreset * {
        all: revert;
    }
}

.fiximg img {
    max-width: 100%;
}